h1 {
  font: 300 2em/1 "Open Sans", sans-serif;
  margin: 1.5em auto .75em;
  text-align: center;
}
.loader {
  width: 100%;
  height: 1.5em;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto 1.5rem;
}
.inner {
  animation: slide 6s infinite;
}
.loader i {
  display: inline;
  text-align: right;
}
.loader i:first-of-type {
  visibility: hidden;
}
.loader i:not(last-of-type) {
  animation: loader 6s infinite;
}

@keyframes loader {
  0% {
    letter-spacing: 8em;
  }
  45% {
    letter-spacing: 0;
  }
  55% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 12em;
  }
}

@keyframes slide {
  0% { margin-left: -100%; }
  50% { margin-left: 45%; }
  100% {margin-left: 100%; }
}